@import './variables';

@keyframes showDialog {
	from {
		transform: translateY(-20px) scale(.8);
		opacity: 0;
	}
	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.right {
	float: right;
}
.left {
	float: left;
}
.clear::before {
	content: '';
	display: block;
	overflow: hidden;
	clear: both;
}
.side_tools {
	position: fixed;
	bottom: 80px;
	right: 30px;
}
.module_bg {
	background-color: $moduleBGC;
	transition: all .3s ease-in-out;
	&:hover {
		box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	}
}
.ws_btn {
	display: inline-block;
	height: $formElHeight;
	line-height: $formElHeight;
	border: 1px solid $borderColor;
	padding: 0 10px;
	transition: all ease-in-out .3s;
	border-radius: 3px;
	cursor: pointer;
	&:hover {
		border-color: $hoverColor;
		color: $hoverColor;
	}
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(0, 0, 0, .3);
	z-index: 1000;
	.dialog_header {
		.title,
		.close {
			height: 30px;
			line-height: 30px;
		}
		.title {
			overflow: hidden;
		}
		.close {
			padding: 5px 10px;
			float: right;
			cursor: pointer;
		}
	}
	.content {
		width: 60%;
		max-height: 80%;
		margin-top: 10vh;
		background-color: #fff;
		margin-left: 20%;
	}
	&.show {
		display: block;
		.content {
			animation: showDialog .3s ease-in-out;
		}
	}
	.dialog_body {
		padding: 15px 20px;
	}
}
