@import './variables';

@mixin logo {
	display: inline-block;
    width: 100px;
    height: 45px;
    background: url('/assets/static/image/logo/weshier.png') 0 0 no-repeat;
    background-size: 100% 100%;
    transition: all .3s ease-in-out;
    &:hover {
        background-image: url('/assets/static/image/logo/weshier_hover.png');
    }
}

@mixin centerWrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin arrowTop($size: 9px, $color: $borderColor) {
	&::before {
		position: absolute;
		content: "";
		top: -10px;
		left: 45px;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid transparent;
		border-bottom-color: $color;
	}
}

@mixin formItem {
	position: relative;
	height: $formElHeight;
	&::before {
		position: absolute;
		content: '';
		width: 1px;
		height: 12px;
		left: 30px;
		background-color: $placeholdeColor;
	}
	&:not(:last-child) {
		margin-bottom: 20px;
	}
	&.submit,
	.submit {
		background-color: $highLightColor;
		transition: background-color ease-out .3s;
		&:hover {
			background-color: $hoverColor;
		}
		input {
			color: #fff;
			border: none;
			letter-spacing: 3px;
			cursor: pointer;
		}
		&::before {
			display: none;
		}
	}
	.ws_iconfont {
		position: absolute;
		left: 9px;
		color: $placeholdeColor;
	}
	.ws_iconfont,
	&::before {
		top: 50%;
		transform: translateY(-50%);
	}
	input:not([type=checkbox]) {
		width: 100%;
		height: 100%;
		padding: 0 10px 0 35px;
		&[type=submit] {
			padding: 0;
		}
	}
}

@mixin container {
	margin: 25px auto;
	padding: 0 15px;
	@media screen and (min-width: 768px) {
		width: 750px;
	}
	@media screen and (min-width: 1080px) {
		width: 1080px;
	}
}

@mixin formTitle {
	display: block;
	width: 100%;
	line-height: 52px;
	font-size: 22px;
	border-bottom: 1px solid $borderColor;
	text-align: center;
	letter-spacing: 3px;
}

@mixin listItem {
	display: inline-block;
	padding-left: 10px;
    height: 26px;
    line-height: 26px;
    margin: 5px;
    background-color: #f1f8ff;
	border: 1px solid rgba($color: $highLightColor, $alpha: .5);
	border-radius: 3px;
	.remove_item {
		display: inline-block;
        height: 100%;
        margin-left: 5px;
        padding: 0 8px;
        cursor: pointer;
        border-left: 1px solid rgba($color: $highLightColor, $alpha: .5);
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: #DDEEFF;
        }
	}
}

@mixin cmtEditor {
	.avatar {
		float: left;
		margin-right: 10px;
	}
	.ws_cmt_form {
		overflow: hidden;
	}
	textarea {
		width: 100%;
		display: inline-block;
		height: 80px;
		padding: 10px 15px;
		border: 1px solid $borderColor;
		border-radius: 4px;
		background-color: #fff;
		resize: none;
	}
	.cmt_fn_block {
		padding-left: 48px;
		padding-top: 5px;
	}
	.emoji_wrap {
		position: relative;
		display: inline-block;
	}
	.emoji_switch {
		color: $grayColor;
		&:hover {
			color: $fontColor;
		}
	}
	.hint {
		padding: 5px 6px;
		color: $grayColor;
		font-size: 12px;
	}
	.publish,
	.cancel {
		float: right;
		padding: 5px 12px;
		letter-spacing: 3px;
	}
	.cancel {
		color: $grayColor;
		transition: color ease-out .3s;
		&:hover {
			text-decoration: underline;
			color: $fontColor;
		}
	}
	.publish {
		color: #fff;
		background-color: $highLightColor;
		transition: background-color ease-out .3s;
		border-radius: 15px;
		&:hover {
			background-color: $hoverColor;
		}
	}
}

@keyframes emojiPanelShow {
	from {
		transform: translateY(-25px) scale(.95);
		opacity: 0;
	}
	to {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}
@keyframes emojiPanelHide {
	0% {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
	100% {
		transform: translateY(-25px) scale(.95);
		opacity: 0;
		// keyframe 不支持 display, 必须使用 visibility
		visibility: hidden;
	}
}

@mixin emojiPanel {
	position: absolute;
	width: 360px;
	top: 35px;
	left: -47px;
	border: 1px solid $borderColor;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	&.show {
		animation: emojiPanelShow .3s ease-in-out forwards;
	}
	&.hide {
		animation: emojiPanelHide .3s ease-in-out forwards;
	}
	.emoji_tab {
		padding: 20px 0;
		text-align: center;
		background-color: #eee;
		li {

			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 3px;
			background: #999;
			border-radius: 100%;
			cursor: pointer;
			transition: background-color ease-in-out .3s;
			&:hover {
				background-color: #2F2F2F;
			}
			&.active {
				background-color: #2F2F2F;
			}
		}
	}
	.emoji_panel {
		display: none;
		&.active {
			display: block;
		}
		ul {
			padding: 8px;
			font-size: 0;
		}
		.emoji {
			display: inline-block;
			padding: 5px;
			border-radius: 3px;
			&:hover {
				background-color: rgba(180, 180, 180, 0.2);
			}
		}
		.emoji_icon {
			width: 24px;
			height: 24px;
		}
	}
}

@keyframes replyEditorShow {
	from {
		transform: translateY(-20px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes replyEditorHiden {
	from {
		transform: translateY(0);
		opacity: 1;
		height: 123.8px;
		margin-top: 10px;
	}
	99% {
		transform: translateY(-20px);
		opacity: 0;
		height: 123.8px;
		margin-top: 10px;
		visibility: hidden;
	}
	100% {
		transform: translateY(-20px);
		opacity: 0;
		height: 0;
		margin-top: 0;
		visibility: hidden;
	}
}

@keyframes subCommentHiden {
	from {}
	to {
		height: 0;
		padding: 0;
	}
}

@mixin comment {
	padding: 20px 0;
	border-bottom: 1px solid $borderColor;
	.author_avatar {
		float: left;
		margin-right: 10px;
		img {
			width: 38px;
			height: 38px;
			border-radius: 50%;
		}
	}
	.cmt_info_right {
		overflow: hidden;
		.author {
			font-size: 15px;
			color: $emphasisColor;
		}
		.base_info {
			font-size: 12px;
			color: $shallowColor;
		}
	}
	.content_wrap {
		.tool_row a {
			margin-right: 10px;
			color: $shallowColor;
			transition: all ease-out .3s;
			&:hover {
				color: $emphasisColor;
			}
		}
	}
	p.content {
		margin: 16px 0;
		line-height: 1.5;
		font-size: 16px;
		a, img {
			vertical-align: middle;
		}
		a {
			color: $highLightColor;
			display: inline-block;
		}
		img {
			width: 20px;
			height: 20px;
		}
	}
	.sub_comment_wrap {
		margin-top: 15px;
		padding-left: 20px;
		border-left: 2px solid $borderColor;
		&.hiden {
			animation: subCommentHiden 0s .3s forwards;
		}
		.expand_comments {
			display: none;
		}
		&.hide_exceed_cmt {
			.sub_comment:nth-child(n + 6) {
				display: none;
			}
			.expand_comments {
				display: inline-block;
			}
		}
	}
	.sub_comment {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px dashed $borderColor;
		p.content {
			margin: 0;
			font-size: 14px;
			line-height: 1.8;
		}
	}
	.sub_tool_row {
		font-size: 12px;
		&, a {
			color: $shallowColor;
		}
		a {
			margin-right: 5px;
		}
	}
	.more_comment {
		line-height: 2;
		& + .ws_cmt_editor {
			margin-top: 10px;
		}
	}
	.add_comment {
		color: $shallowColor;
	}
	.ws_cmt_editor {
		width: 100%;
		margin: 0;
		padding: 5px 0;
		.cmt_fn_block {
			padding-left: 0;
		}
		&.hide {
			padding: 0;
			display: none;
		}
		&.hiden {
			animation: replyEditorHiden .3s ease-out forwards;
			padding: 0;
		}
		&.show {
			animation: replyEditorShow .3s ease-out forwards;
		}
	}
	.ws_iconfont {
		font-size: 12px;
		&::before {
			font-size: 14px;
			margin-right: 3px;
		}
	}
	.reply_time {
		margin-right: 5px;
	}
}

@mixin tag {
	position: relative;
    display: inline-block;
	height: 20px;
	margin-right: 10px;
    line-height: 20px;
    padding: 0 8px 0 18px;
    border-radius: 0 3px 3px 0;
    background: $moduleBGC;
    font-size: 12px;
    color: $fontColor;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	transition: all ease-in-out .3s;
	&::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 0;
		border-width: 10px 10px 10px 0;
		border-color: $bgColor transparent;
		border-style: solid;
	}
	&::after {
		position: absolute;
		content: "";
		width: 4px;
		height: 4px;
		top: 8px;
		left: 8px;
		border-radius: 100%;
		background-color: $bgColor;
	}
	&:hover {
		background-color: $pinkColor;
		color: #fff;
	}
}

@keyframes sponsorAni {
	from {
		opacity: 0;
		transform: translateX(-100%) scale(0);
	}
	to {
		opacity: 1;
		transform: translateX(-100%) scale(1);
	}
}
@mixin sideTool {
	position: fixed;
    bottom: 40px;
    right: 40px;
	z-index: 1040;
	.ws_iconfont {
		font-size: 24px;
	}
	.ws_s_6 {
		font-size: 18px;
	}
	.ws_heart.article_hearted {
		color: $pinkColor;
	}
	#go_top {
		display: none;
		&.show {
			display: block;
		}
	}
	& > li {
		border: 1px solid $borderColor;
		border-bottom: none;
		background-color: $bgColor;
		transition: .1s ease-in;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
		&:last-child {
			border-bottom: 1px solid $borderColor;
		}
		&:hover {
			background-color: $moduleBGC;
		}
	}
	.ws_juanzeng {
		color: $pinkColor;
	}
	.reward {
		position: relative;
		color: $pinkColor;
		img {
			position: absolute;
			width: 100px;
			left: 0;
			bottom: 0;
			opacity: 0;
			transform: translateX(-100%) scale(0);
			transform-origin: right bottom;
		}
		&:hover img {
			animation: sponsorAni .3s ease forwards;
		}
	}
}
