<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        p {
            color: #f00;
        }
    </style>
</head>
<body>
    <p>
        你的邮箱正在注册账号
    </p>
    <p>
        验证码为<?= authCode ?>
    </p>
</body>
</html>