<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include('./common/iconfont.html') %>
	<%- include('./common/meta.html') %>
	<%- include('./common/commonResource.html') %>
	<meta keywords="<%= article.tags.map(el => el.name).join('，') %>">
	<meta description="<%= article.abstract %>">
	<meta content="<%= article.title %>">
	<meta content="http://weshier.com/a/<%= article.id %>">
	<title><%= article.title %> - 微识</title>
	<link rel="stylesheet" href="/assets/lib/editor.md/css/editormd.preview.min.css"/>
	<link rel="stylesheet" href="/assets/static/css/article.css"/>
</head>
<body>
	<%- include('./common/header.html') %>
	<article class="article">
		<h1 class="a_title"><%= article.title %></h1>
		<div class="author_info">
			<a class="avatar" href="/u/<%= article.User.userName %>">
				<img width="36" height="36" src="<%= article.User.avatar %>" title="<%= article.User.nickName %>">
			</a>
			<div class="info">
				<div class="author">
					<a class="alias" href="/u/<%= article.User.userName %>"><%= article.User.nickName %></a>
				</div>
				<div class="statistic_info">
					<span class="statistic_update_at" title="上次更新于<%= article.updateAt %>">
						<%= article.updateAt %>
					</span>
					<span class="statistic_content_len">字数 <%= article.content.length %></span>
					<span class="statistic_comments_len">评论 <%= article.Comments.length %></span>
					<span class="statistic_heart_len">喜欢 <%= article.Hearts.length %></span>
					<% if (user && user.id === article.User.id) { %>
						<a class="right del_article ws_iconfont ws_shanchu" id="del_article" title="删除" href="javascript:;"></a>
						<a class="right edit_article ws_iconfont ws_edit" href="/a/edit/<%= article.id %>" title="编辑"></a>
					<% } %>
				</div>
			</div>
		</div>
		<div id="content" class="content"></div>
		<% if (article.tags && article.tags.length) { %>
			<div class="tags">
				<span>标签：</span>
				<% article.tags.forEach(function (tag) { %>
					<a class="tag" href="/u/<%= article.User.userName %>/tag/<%= tag.name %>"><%= tag.name %></a>
				<% }) %>
			</div>
		<% } %>
		<div class="prev_next">
			<% if (article.prev) { %>
				<a class="left" href="/a/<%= article.prev.id %>">上一篇：<%= article.prev.title %></a>
			<% } %>
			<% if (article.next) { %>
				<a class="right" href="/a/<%= article.next.id %>">下一篇：<%= article.next.title %></a>
			<% } %>
		</div>
		<div class="heart_row" id="heart_row">
			<div class="heart_article <%= hearted ? 'article_hearted' : '' %>">
				<a href="javascript:;" id="heart_btn" class="article_heart_icon">喜欢</a>
				<a href="javascript:;" class="heart_statistic <%= article.heart_count ? '' : 'hide' %>"><%= article.heart_count %></a>
			</div>
		</div>
		<div id="comment">
			<%- include('./common/commentEditor.html', {
				type: 'comment',
				allowComment: article.allow_comment
			}) %>
		</div>
		<div id="comments">
		</div>
	</article>
	<div id="catelog" class="ws_module ws_catelog module_bg"></div>
	<%- include('./common/sideTool.html', {
		heart: true,
		hearted: hearted,
		catelog: true
	}) %>
	<%- include('./common/footer.html') %>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
    <script src="https://cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
	<script src="https://cdn.bootcss.com/raphael/2.2.7/raphael.min.js"></script>
	<script src="https://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
	<script src="https://cdn.bootcss.com/js-sequence-diagrams/1.0.6/sequence-diagram-min.js"></script>
	<script src="https://cdn.bootcss.com/flowchart/1.7.0/flowchart.min.js"></script>
	<script src="/assets/lib/editor.md/jquery.flowchart.min.js"></script>
	<script src="/assets/lib/editor.md/editormd.min.js"></script>
	<script src="/assets/static/js/article.js"></script>
</body>
</html>
