<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>博客 - 微识</title>
	<%- include('./common/meta.html') %>
	<%- include('./common/iconfont.html') %>
	<link rel="stylesheet" href="/assets/static/css/blog.css"/>
</head>
<body>
	<%- include('./common/header.html') %>
	<div class="container">
		<div class="cnt_main">
			<!-- 轮播区域 -->
			<article class="article_list" id="article_list">
				<%- include('./common/article.list.html') %>
			</article>
		</div>
		<div class="aside">
			<!-- 和风天气插件 -->
			<div id="weather-view-he"></div>
			<div class="clock_wrap">
				<div id="clock">
					<canvas id="plate">您的浏览器不支持canvas属性，请更换浏览器在进行浏览</canvas>
					<canvas id="needles"></canvas>
				</div>
			</div>
		</div>
	</div>
	<%- include('./common/sideTool.html', {
		heart: false,
		catelog: false
	}) %>
	<%- include('./common/footer.html') %>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="/assets/static/js/blog.js"></script>
	<script>
		WIDGET = {ID: 'MSwU8NPZ4w'};
	</script>
	<script type="text/javascript" src="https://apip.weatherdt.com/view/static/js/r.js?v=1111"></script>
</body>
</html>
