<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/assets/static/css/tagArticles.css">
	<%- include('./common/iconfont.html') %>
	<title>微识 - <%= data.nickName %> - 博文档案</title>
</head>
<body>
	<%- include('./common/header.html') %>
	<article class="container article_list" id="article_list">
		<%- include('./common/article.list.html', {
			articles: data.articles.map(el => {
				el.User = data
				return el
			})
		}) %>
	</article>

	<%- include('./common/sideTool.html', {
		heart: false,
catelog: false
	}) %>
	<%- include('./common/footer.html') %>
</body>
</html>
