<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include('./common/meta.html') %>
	<link href="https://cdn.bootcss.com/layer/2.3/skin/layer.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/static/css/setting.css">
	<%- include('./common/iconfont.html') %>
	<title>微识 - <%= user.nickName %></title>
</head>
<body>
	<%- include('./common/header.html') %>
	<div class="container">
		<div class="menus">
			<ul>
				<li><a href="#base_setting">基础设置</a></li>
				<li><a href="#personal_info">个人资料</a></li>
				<li><a href="#annex_mg">附件管理</a></li>
				<li><a href="#blog_category_mg">博客分类管理</a></li>
			</ul>
		</div>
		<div class="panels">
			<div id="base_setting">
				<h1>基础设置</h1>
				<table width="100%">
					<tr>
						<td>
							<a href="javascript:;">
								<img class="avatar" src="<%= user.avatar %>" title="<%= user.nickName %>">
							</a>
						</td>
						<td>
							<label>
								<span class="ws_btn" id="change_avatar">更换头像</span>
								<input type="file" name="avatar" accept="image/*">
							</label>
						</td>
					</tr>
					<tr>
						<td>
							昵称
						</td>
						<td>
							<input type="text" value="<%= user.nickName %>">
						</td>
					</tr>
					<tr>
						<td>
							电子邮箱
						</td>
						<td>
							<input type="text" value="<%= user.email %>">
						</td>
					</tr>
					<tr>
						<td>
							手机
						</td>
						<td>
							<input type="text" value="<%= user.phone %>">
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button class="ws_btn">保存</button>
						</td>
					</tr>
				</table>
			</div>
			<div id="personal_info">
				<h1>个人资料</h1>
				<table>
					<tr>
						<td>个人网站</td>
						<td><input type="text" name="site" value="<%= user.url %>"></td>
					</tr>
					<tr>
						<td>个人简介</td>
						<td>
							<textarea name="bio"><%= user.bio %></textarea>
						</td>
					</tr>
					<tr>
						<td>微博地址</td>
						<td>
							<input type="text" name="weibo" value="<%= user.weibo %>">
						</td>
					</tr>
					<tr>
						<td>Github 地址</td>
						<td><input type="text" name="github" value="<%= user.github %>"></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button class="ws_btn" id="individual_info">保存</button>
						</td>
					</tr>
				</table>
			</div>
			<div id="annex_mg">
				<h1>附件管理</h1>
				<table>
					<tbody>
						<tr>
							<td>附件列表</td>
							<td>
								<% annex.forEach(function (el){ %>
									<div>
										<img src="<%= el.path %>" title="<%= el.desc %>">
									</div>
								<% }) %>
							</td>
						</tr>
						<tr>
							<td>上传附件</td>
							<td>
								<div id="upload_annex"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="blog_category_mg">
				<h1>博客分类管理</h1>
				<table>
					<tbody>
						<tr>
							<td>分类列表</td>
							<td class="cate_list">
								<% category.forEach(function (cate) { %>
									<%- include('./common/category.html', {
										categoryName: cate.name
									}) %>
								<% }) %>
								<div id="add_category" class="add_category">
									<input type="text" placeholder="添加分类">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<%- include('./common/sideTool.html', {
		heart: false,
		catelog: false
	}) %>
	<%- include('./common/footer.html') %>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
	<script src="/assets/static/js/setting.js"></script>
</body>
</html>
