@import "./common/_reset.scss";
@import "./common/_header.scss";
@import "./common/_footer.scss";
@import "./common/_articleList.scss";
@import "./common/_common.scss";
@import "./common/_mixins.scss";

.container {
	overflow: hidden;
	@include container;
}

.cnt_main {
	width: 66.67%;
	float: left;
}

.aside {
	width: 30%;
	float: right;
}

@media screen and (max-width: 1080px) {
	.cnt_main,
	.aside {
		float: none;
		width: 100%;
	}
	.aside {
		display: none;
	}
}

#weather-view-he {
	width: 100% !important;
	border: none !important;
	border-radius: 0 !important;
	background-color: transparent !important;
}
#clock {
	position: relative;
}
#needles {
	position: absolute;
	left: 0;
	top: 0;
}
.side_tools {
	@include sideTool();
}

.module {
	@include module();
}
.weather_module {
	margin-top: 0;
}
.tag_statistic {
	word-break: keep-all;
}
.tag {
	@include tag();
	margin-bottom: 5px;
	background-color: $bgColor;
	&::before {
		border-color: $moduleBGC transparent;
	}
	&::after {
		background-color: $moduleBGC;
	}
}
.author_item {
	overflow: hidden;
	padding: 5px 0;
	.avatar,
	.article_statistic {
		display: inline-block;
		vertical-align: middle;
	}
	.avatar {
		float: left;
		border-radius: 50%;
		margin-right: 10px;
	}
	.article_statistic {
		float: right;
		width: 40px;
		text-align: right;
	}
	.author {
		display: block;
		overflow: hidden;
		line-height: 30px;
	}
}
