@import './common/_reset.scss';
@import './common/mixins';

html,
body {
	height: 100%;
}

body {
	background: url('./../image/register_bg.png') 0 0 no-repeat;
	background-size: cover;
	@include centerWrap();
}

.ws_logo {
	position: absolute;
	top: 30px;
	left: 30px;
	@include logo();
}

.sign_up {
	width: 460px;
	background-color: #fff;
}

.signup_title {
	@include formTitle;
}

.form {
	padding: 32px 50px;
}

.ws_form_item {
	@include formItem();
}

.ws_go_login {
	text-align: right;
	&::before {
		display: none;
	}
	a {
		color: $highLightColor;
	}
}

.get_auth_code {
    position: absolute;
    height: $formElHeight;
    line-height: $formElHeight;
    right: 0;
    top: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 20px;
}
