<nav class="ws_header" id="ws_header">
	<div class="ws_header_content">
		<a href="/" class="logo"></a>
		<a href="javascript:;" class="ws_iconfont ws_caidan" id="switch_user_menu"></a>
		<div class="user_area">
			<div class="user_right">
				<a href="/blog">博文</a>
				<% if (user && user.provide === 'local'){ %>
					<a href="/write">写点啥？</a>
				<% } %>
				<a href="/message/leave">留言</a>
				<a class="ws_iconfont ws_git" title="网站源码" target="_blank" href="https://github.com/wwervin72/weshier"></a>
				<% if (user) { %>
					<div class="user_dropdown">
						<% if (user.provide === 'local') { %>
							<a href="javascript:;">
								<img src="<%= user.avatar || '/assets/static/image/header/defaultUserAvatar.png' %>" class="avatar" title="<%= user.nickName %>">
							</a>
							<ul class="dropdown">
								<li>
									<a href="/u/<%= user.userName %>" class="ws_iconfont ws_gerenzhuye"></a>
								</li>
								<li>
									<a href="/setting" class="ws_iconfont ws_setting"></a>
								</li>
								<li>
									<a href="/api/logout" class="ws_iconfont ws_tuichu"></a>
								</li>
							</ul>
						<% } else { %>
							<img src="<%= user.avatar || '/assets/static/image/header/defaultUserAvatar.png' %>" class="avatar" title="<%= user.nickName %>">
							<ul class="dropdown">
								<li><a href="/api/logout">退出</a></li>
							</ul>
						<% } %>
					</div>
				<% } else { %>
					<a href="/login">登录</a>
					<a href="/join">加入微识</a>
				<% } %>
			</div>
		</div>
	</div>
</nav>
